<!--
	Filename : search.html
	Serena Fan, Renee Huang, Mana Muchaku 
	findYourRoom
-->

{% extends "base.html" %}

{% block main_content %}

<h1>Search Room</h1>
<h2> Choose a sorting method! </h2>
<h2> (1) Choose from dorm name</h2>

<!-- To-Do : Currently gives an error if user select multiple rooms, functions to be updated to accomodate this-->

<form method="post" action="">
<div class= "row">
	<div class="formlabel" style="font-weight:bold;">Dorm</div>
	<div class="formsection"> 
		{% for item in dormarray %}
		<input type="checkbox" name="dorm" value="{{item['dormID']}}"> {{item['dormName']}}</input>
		{% endfor %}
		
<!-- 
		<select name="dorm" multiple>
			{% for item in dormarray %}
   				<option value="{{item['dormName']}}">{{item['dormName']}}</option>
   			{% endfor %}
   		</select>
 -->
   	</div>
   	</div>
   	
   	<p><button type="submit" name="submit" value="dorm">Submit</button></p>   
</div>
</form>

<h2> (2) Choose from preference</h2>
<p>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
	
<form method="post" action="">
<div class= "row">   
	<!-- add option all -->
   	<div class="formlabel" style="font-weight:bold;">Location</div>	
   	<div class="formsection">
		<select name="location">
 			<option value="East">East Side</option>
			<option value="West">West Side</option>	
   		</select>
   	</div>
   	</div>
   	
   	<!-- add option all -->
   	<div class="formlabel" style="font-weight:bold;">Dorm Type</div>	
   	<div class="formsection">
 		<select name="dormType">
 			<option value="Dorm" selected>Dorm</option>
 			<option value="Apartment">Apartment</option>
   		</select>
   	</div>
   	</div>
   	
   	<div class="formlabel" style="font-weight:bold;">Room Type</div>	
   	<div class="formsection">
 		<select name="roomType">
 			<option value="Single" selected>Single</option>
 			<option value="Double">Upper Class Double</option>
 			<option value="Triple">Upper Class Triple</option>
 			<option value="Suite">Suite</option>
 			<option value="FirstYear">First Year</option>
   		</select>
   	</div>
   	</div>
	
<!-- the part below will be implemented in the later version -->	
<!-- 
   	<div class="formlabel" style="font-weight:bold;">Special</div>	
   	<div class="formsection">
 		<select name="special">
 			<option value="None" selected>None</option>
 			<option value="language">Language House</option>
			<option value="homestead">Homestead</option>		
   		</select>
   	</div>
   	</div>
   
   <div class="formlabel" style="font-weight:bold;">Gym</div>	
   <div class="formsection">
 		<select name="gym">
 			<option value="None" selected>None</option>	
 			<option value="Yes" >Yes</option>
			<option value="No"  >No</option>	
   		</select>
   	</div>
   	</div>
   	
   <div class="formlabel" style="font-weight:bold;">Dinning Hall</div>	
   <div class="formsection">
 		<select name="dinningHall" >
 			<option value="None" selected>None</option>
 			<option value="Yes">Yes</option>
			<option value="No">No</option>		
   		</select>
   	</div>
   	</div>
   	
   	<div class="formlabel" style="font-weight:bold;">Rating</div>	
   <div class="formsection">
 		<select name="rating">
 			<option value="None" selected>Choose one</option>
 			<option value="all">All</option>
 			<option value="over1">Greater than 1</option>
 			<option value="over2">Greater than 2</option>
			<option value="over3">Greater than 3</option>	
			<option value="over4">Greater than 4</option>
			<option value="over5">Greater than 5</option>		
   		</select>
   	</div>
   	</div>
 -->
   			
   	<p><button type="submit" name="submit" value="filter">Submit</button></p>
</div>
</form>	

    


<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>

{% endblock %}
    

