<!--
	Filename : signup.html
	Serena Fan, Renee Huang, Mana Muchaku 
	findYourRoom
-->

{% extends "base.html" %}

{% block main_content %}

<!--the following are done using regular expressions
to-do: check if the email is Wellesley email
to-do: check if BID is 9 digit if not give an error 
to-do: check if year is 4 digit if not give an error (maybe check if the year is plausible year) 
-->

<h1>Sign Up</h1>
<h2>To sign up, please input your Wellesley email, password of choice, BID, and class year.</h2>

  <form method="post" action="">
      <p><label>Email: <input type="text" name="email" ></label></p>
      <p><label>Password: <input type="password" name="password1"></label></p>
      <p><label>Confirm your password: <input type="password" name="password2"></label></p>
      <p><label>BID: <input type="text" name="bid" pattern="[0-9]{9}"></label></p>
      <p><label>Class Year: <input type="text" name="classyear"></label></p>
      <p><button type="submit">submit</button></p>
  </form>


    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>

{% endblock %}