<!--
	Filename : account.html
	Serena Fan, Renee Huang, Mana Muchaku 
	findYourRoom 
-->

{% extends "base.html" %}

{% block main_content %}


<h1>Account Details</h1>
<h3>On this page you can see all the rooms you have reviewed. </h3>


<ol>Your reviews: 
	
	{% for item in roomarray %}
	<li>  {{item['dormID']}} {{item['roomNumber']}} 
	<form method="GET" action='/update/'>
    <input type="hidden" name="dormID" value="{{item['dormID']}}">
    <input type="hidden" name="roomNumber" value="{{item['roomNumber']}}">
    <input type="submit" name="submit" value="update">
	</form> 
	<form method="POST" action='/delete/'>
    <input type="hidden" name="dormID" value="{{item['dormID']}}">
    <input type="hidden" name="roomNumber" value="{{item['roomNumber']}}">
    <input type="submit" name="submit" value="delete">
	</form> </br>
	{% endfor %}
</ol>

{% endblock %}
