<!--
	Filename : account.html
	Serena Fan, Renee Huang, Mana Muchaku 
	findYourRoom 
-->

{% extends "base.html" %}

{% block main_content %}

<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 style="margin: 25px 0px">Account Details</h1>
      <div class="card border-primary mb-3" style="max-width: 25rem;">
	<div class="card-header">Your Reviews : You have {{revNumber}} reviews</div>
	<div class="card-body">
	  <ol style="padding-left:20px">
	  {% for item in roomarray %}
	  <div class="form-group">
	    <li>
	      <div class="row">
		<div class="col-sm-4">{{item['dormID']}} {{item['roomNumber']}}</div>
		
		<div class="col-sm-4">
		  <form action='/update/'>
		    <input type="hidden" name="dormID" value="{{item['dormID']}}">
		    <input type="hidden" name="roomNumber" value="{{item['roomNumber']}}">
		    <input class="btn btn-outline-primary" type="submit" name="submit" value="update">
		  </form> 
		</div>
		
		<div class="col-sm-4">
		  <form id="delete" action='/delete/' method="post">
		    <input type="hidden" name="dormID" value="{{item['dormID']}}">
		    <input type="hidden" name="roomNumber" value="{{item['roomNumber']}}">
		    <input class="btn btn-primary" type="submit" name="submit" value="delete">
		  </form>
		</div>
	      </div>
	      {% endfor %}
	    </li>
	  </div>
	  </ol>
	</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
