<!--
	Filename : base.html
	Serena Fan, Renee Huang, Mana Muchaku 
	findYourRoom
	{{ page_title }}
-->

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=author content="Renee Huang and Serena Fan and Mana Muchaku">
    <title>FindYourRoom</title>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">YourRoom</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarColor01" style="">
	<ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link"href="{{ url_for('index') }}">Home</a>
          <li class="nav-item active"><a class="nav-link"href="{{ url_for('signup') }}">Signup</a>
          <li class="nav-item active"><a class="nav-link"href="{{ url_for('login') }}">Login</a>
          <li class="nav-item active"><a class="nav-link"href="{{ url_for('insert') }}">Insert Rooms</a>
          <li class="nav-item active"><a class="nav-link" href="{{ url_for('search') }}">Search Rooms</a> 
          <li class="nav-item active"><a class="nav-link" href="{{ url_for('account') }}">View Your Account</a>
          <li class="nav-item active"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
	</ul>
      </div>
    </nav>
    
    {% block main_content %}
    <h1>{{ header }}</h1>  
    {% endblock %}
  </body>
</html>
