<!--
	Filename : index.html
	Renee Huang, Mana Muchaku, Serena Fan
	findYourRoom
-->

{% extends "base.html" %}

{% block main_content %}
<div class="container center-block">
  <div class="home">
    <h1> Welcome to findYourRoom!</h1>


    <h2> Please follow the instructions below:</h2>

    <li> Step 1: Create an account if this is your first time here. Otherwise, login.  </li>
    <li> Step 2: Search rooms to see reviews,  submit room reviews, or insert a new room and submit the first review for that room.</li>

    <img src= "{{url_for('pic', sfname = 'images/dormmap.jpeg')}}" width="600" alt = "Wellesley College Map">
  </div>
</div>
{% endblock %}

