<!--
	Filename : index.html
	Renee Huang, Mana Muchaku, Serena Fan
	findYourRoom
-->

{% extends "base.html" %}

{% block main_content %}
<div class="container center-block">
  <div class="home">
    <h1> Welcome to Find Your Room</h1>


    <h2> Please follow the instruction below</h2>

    <li> Step 1 : Sign up or Login  </li>
    <li> Step 2 : Search rooms or Review rooms or Insert a new room</li>

    <img src= "{{url_for('pic', sfname = 'images/dormmap.jpeg')}}" width="600" alt = "Wellesley College Map">
  </div>
</div>
{% endblock %}

