<!--
	Filename : login.html
	Serena Fan, Renee Huang, Mana Muchaku 
	findYourRoom
-->


{% extends "base.html" %}

{% block main_content %}

<div class="container login-form">
  <div class="row align-items-end">
    <div class="col">
      
      <form method="post" action="">
	<legend>Login</legend>
	<p><label for="emailLogin">Email: <input class="form-control" type="text" name="email" = placeholder="email"></label></p>
	<p><label for="passWordLogin">Password: <input class="form-control" type="password" name="password" placeholder="password"></label></p>
	<p><button class="btn btn-primary" type="submit">submit</button></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
