<!--
	Filename : roominfo.html
	Renee Huang, Mana Muchaku, Serena Fan
	findYourRoom
-->

{% extends "base.html" %}

{% block main_content %}

<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 style="margin: 25px 0px">Summary of {{dormID}} {{roomNumber}}</h1>
      <div class="card border-primary mb-3" style="max-width: 25rem;">
        <div class="card-header">
	  <div class="card-body">
            <ol style="padding-left:20px">
	      <div class="form-group">
		<p><b>Room Type : </b> {{roomType}}</p>
		<p><b>Gym : </b> {{gym}}</p>
		<p><b>Dining Hall : </b> {{diningHall}}</p>
		<p><b>Average Rating : </b>{{avgRating}}</p>
		<p><b>Past Residence Comments</b></p>
		{% for roominfo in roomlist %} 
		<p>{{roominfo['comment']}}</p>
		{% endfor%}
		
		<p><b>Room Photos</b></p>
		{% for photo in photolist %} 
		<img src= "{{ url_for('pic', sfname = photo['path'])}}" width="400" alt = "{{photo['alt']}}">
		{% endfor%}
		
		{% endblock %}
	      </div>
	    </ol>
	  </div>
	</div>
      </div>
    </div>
</div>
