<!--
	Filename : search.html
	Serena Fan, Renee Huang, Mana Muchaku 
	findYourRoom
-->

{% extends "base.html" %}

{% block main_content %}

<div class="container header">
  <h1 style="text-align:center; margin-top:15px">Search Room</h1>
  {% include "flash.html" %}
</div>


<div class="container search">
  <ul class="nav nav-tabs">
    <li class="nav-item active">
      <a class="nav-link" data-toggle="tab" href="#search1">Choose From Dorm Name(s)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#search2">Choose From Dorm Preference(s)</a>
    </li>
  </ul>

 
  <div class="tab-content">
    <div class="tab-pane fade active show" id="search1">
      <div class="container">
	<div class="row justify-content-around">
	  <!-- search 1 -->
	  <!-- To-Do : Currently gives an error if user select multiple rooms, functions to be updated to accomodate this-->
	  <form method="post" action="">
            <div class = "form-group">
	      <div class="container">
		<div class="row">
		  {% for dorms in dormarray | batch(6, '&nbsp;') %}
		  <div class="col-sm-3">
		    <ul style="list-style-type:none">
		      {% for dorm in dorms %}
		      {% if dorm['dormName'] %}
		      <li><input type="checkbox" name="dorm" value="{{dorm['dormID']}}"> {{dorm['dormName']}}</input></li>
		      {% endif %}
		      {% endfor %}
		    </ul>
		  </div>
		  {% endfor %}
		  
   		</div>
		<div class="form-group form-button">
   		  <p><button class="btn btn-primary search-btn"  type="submit" name="submit" value="dorm">Submit</button></p>
		</div>
	      </div>
	    </div>
	  </form>
	</div>
      </div>
    </div>
    
    <div class="tab-pane fade" id="search2">
      <!-- search 2 -->
      <div class="container">
	<div class="row justify-content-center">
	  <form method="post" action="">
	    
	    <!-- add option all -->
   	    <!-- location -->
	    <div class = "form-group">
	      <label>Location</label>	
   	      <select name="location">
 		<option value="East">East Side</option>
		<option value="West">West Side</option>	
   	      </select>
   	    </div>
	    
	    <!-- Dorm Type -->
	    <!-- add option all -->
	    <div class="form-group">
 	      <label>Dorm Type</label>
	      <select name="dormType">
 		<option value="Dorm" selected>Dorm</option>
 		<option value="Apartment">Apartment</option>
   	      </select>
	    </div>
	    
	    <!-- Room Type -->
	    <div class="form-group">
	      <label>Room Type</label>
	      <select name="roomType">
		<option value="Single" selected>Single</option>
		<option value="Double">Double</option>
		<option value="Triple">Triple</option>
		<option value="Suite">Suite</option>
		<option value="FirstYear">First Year</option>
	      </select>
	    </div>
	    
	    
	    <!-- Gym -->
	    <div class="form-group">
	      <label>Gym</label>
	      <select name="gym">
		<option value="0" selected>No</option>	
		<option value="1" >Yes</option>
	      </select>
	    </div>
	    
	    <!-- Dining Hall -->
	    <div class = "form-group">
	      <label>Dining Hall</label>
	      <select name="diningHall" >
		<option value="0" selected>No</option>
		<option value="1">Yes</option>	
	      </select>
	    </div>
	    
	    <!-- Rating -->
	    <div class = "form-group">
	      <label>Rating</label>
	      <select name="rating">
		<option value="All" selected>All</option>
		<option value="1">Greater than 1</option>
		<option value="2">Greater than 2</option>
		<option value="3">Greater than 3</option>	
		<option value="4">Greater than 4</option>
		<option value="5">Greater than 5</option>		
	      </select>
	    </div>
	    
	    <div class="form-group form-button search">
	      <p><button  class="btn btn-primary search-btn" type="submit" name="submit" value="filter">Submit</button></p>	  
	    </div>
	  </form>	
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
  

  
