<!--
	Filename : signup.html
	Serena Fan, Renee Huang, Mana Muchaku 
	findYourRoom
-->

{% extends "base.html" %}

{% block main_content %}
<div class="container login-form">
  <div class="row">
      <div class="col">
	{% include "flash.html" %}
	<form method="post" action="">
	  <fieldset>
	    <legend>Sign up</legend>
	    <div class = "form-group">
	      <p><label for="InputEmail1">Email: </label><input  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" pattern="^[A-Za-z0-9._%+ -]+@wellesley.edu$" title ="input a wellesley email" ></p>
	    </div>
	    
	    <div class="form-group">
	      <p><label for="InputPassword1">Password: </label><input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password1"></p>
	    </div>
	    
	    <div class="form-group">
	      <p><label for="InputPassword1">Confirm your password: </label><input input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" type="password" name="password2"></p>
	    </div>
	      
	    <div class="form-group">
	      <p><label for="BID">BID: </label><input class="form-control" type="text" name="bid" pattern="[0-9]{8}" placeholder="BID" title ="input your 8 digit BID (excluding the 'B')"></p>
	    </div>
	    
	    <div class="form-group">
	      <p><label for="classyear">Class Year: </label><input class="form-control" type="text" placeholder="Class Year" name="classyear"></p>
	    </div>
	    
	    <div class="form-button form-group">
	      <p><button type="submit" class="btn btn-primary">Submit</button></p>
	    </div>
	  </fieldset>
	</form>
      </div>
  </div>
</div>
{% endblock %}
