<!--
	Filename : signup.html
	Serena Fan, Renee Huang, Mana Muchaku 
	findYourRoom
-->

{% extends "base.html" %}

{% block main_content %}
<div class="container login-form">
  <div class="row">
      <div class="col">
	<form method="post" action="">
	  <fieldset>
	    <legend>Sign up</legend>
	    <div class = "form-group">
	      <p><label for="InputEmail1">Email: <input  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" pattern="^[A-Za-z0-9._%+ -]+@wellesley.edu$" title ="input a wellesley email" ></label></p>
	    </div>
	    
	    <div class="form-group">
	      <p><label for="InputPassword1">Password: <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password1"></label></p>
	    </div>
	    
	    <div class="form-group">
	      <p><label for="InputPassword1">Confirm your password: <input input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" type="password" name="password2"></label></p>
	    </div>
	      
	    <div class="form-group">
	      <p><label for="BID">BID:<input class="form-control" type="text" name="bid" pattern="[0-9]{8}" placeholder="BID" title ="input your 8 digit BID (excluding the 'B')"></label></p>
	    </div>
	    
	    <div class="form-group">
	      <p><label for="classyear">Class Year: <input class="form-control" type="text" placeholder="Class Year" name="classyear"></label></p>
	    </div>
	    
	    <p><button type="submit" class="btn btn-primary">submit</button></p>
	  </fieldset>
	</form>
      </div>
  </div>
</div>
{% endblock %}
