<!--
	Filename : signup.html
	Serena Fan, Renee Huang, Mana Muchaku 
	findYourRoom
-->

{% extends "base.html" %}

{% block main_content %}



<h1>Sign Up</h1>
<h2>To sign up, please input your Wellesley email, password of choice, BID, and class year.</h2>

  <form method="post" action="">
      <p><label>Email: <input type="text" name="email" pattern="^[A-Za-z0-9._%+-]+@wellesley.edu$" title ="input a wellesley email" ></label></p>
      <p><label>Password: <input type="password" name="password1"></label></p>
      <p><label>Confirm your password: <input type="password" name="password2"></label></p>
      <p><label>BID: <input type="text" name="bid" pattern="[0-9]{8}" title ="input your 8 digit BID (excluding the 'B')"></label></p>
      <p><label>Class Year: <input type="text" name="classyear"></label></p>
      <p><button type="submit">submit</button></p>
  </form>


{% endblock %}