<!--
	Filename : updatereview.html
	Renee Huang, Mana Muchaku, Serena Fan
	findYourRoom
-->

{% extends "base.html" %}

{% block main_content %}


<h1>Update Your Review</h1>
<h2>Here you may alter the information you have put in your review.</h2>

  <form method="post" enctype="multipart/form-data" action="">
      <p><label>Rating:       

          <label>1 <input type="radio" name="stars" value="1" {{ 'checked' if review['rating']==1}} ></label>
          
          <label>2 <input type="radio" name="stars" value="2" {{ 'checked' if review['rating']==2}} ></label>
       
          <label>3 <input type="radio" name="stars" value="3" {{ 'checked' if review['rating']==3}} ></label>

          <label>4 <input type="radio" name="stars" value="4" {{ 'checked' if review['rating']==4}} ></label>
          
          <label>5 <input type="radio" name="stars" value="5" {{ 'checked' if review['rating']==5}} ></label>
      
      </label></p>
      
      <p><label>Comment: <textarea name="comment" rows="10" cols="30" maxlength="200">{{review['comment']}}</textarea>
      
      
      <p><label>Upload Images :
      <!-- how to put in existing image if there is one-->
      <input type="file" name="pic" accept="image/*">
	  </label></p>
       
      <p><button type="submit">submit</button></p>
  </form>



    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>

{% endblock %}
