<!--
	Filename : account.html
	Serena Fan, Renee Huang, Mana Muchaku 
	findYourRoom
-->

{% extends "base.html" %}

{% block main_content %}


<h1>Account Details</h1>
<h2>On this page you can see all the rooms you have reviewed. Click on a room to edit or delete your review</h2>

<!-- functionality: delete and edit current reviews, look at rooms this person inserted and reviewed -->

<ul>Your reviews :
	{% for item in roomarray %}
		<li> {{item['dormID']}} {{item['roomNumber']}} 
		{% endfor %}
</ul>



	