<!--
	Filename : account.html
	Serena Fan, Renee Huang, Mana Muchaku 
	findYourRoom 
-->

{% extends "base.html" %}

{% block main_content %}


<h1>Account Details</h1>
<h2>On this page you can see all the rooms you have reviewed. </h2>

<form method="post" action="">
<ol>Your reviews:
	{% for item in roomarray %}
	<li> {{item['dormID']}} {{item['roomNumber']}} <input type="submit" name="submit" value="update"> <input type="submit" name="submit" value="delete" dormID="{{item['dormID']}}" roomNumber= "{{item['roomNumber']}}">
	{% endfor %}
</ol>
</form>
{% endblock %}
<!-- make the update button lead to update page but filled already with the information of the room the user clicked on -->
<!-- make delete button execute a query that removes that review from the review table-->