<!--
	Filename : roominfo.html
	Renee Huang, Mana Muchaku, Serena Fan
	findYourRoom
-->

{% extends "base.html" %}

{% block main_content %}

	<h1>Summary of {{dormID}} {{roomNumber}}</h1>

{% for roominfo in roomlist %} 
	<p>Room Type : {{roominfo['roomType']}}</p>
	<p>Average Rating : {{roominfo['avgRating']}}</p>
	<p>Comment : {{roominfo['comment']}}</p>
{% endfor%}

{% for photo in photolist %} 
	<p>Photos :
		<img src={{photo['path']}} width="100" height="80" alt="My Pic">
	</p>
{% endfor%}



{% endblock %}