<!--
	Filename : updatereview.html
	Renee Huang, Mana Muchaku, Serena Fan
	findYourRoom
-->

{% extends "base.html" %}

{% block main_content %}


<h1>Update Your Review</h1>
<h2>Here you may alter the information you have put in your review.</h2>

  <form method="post" enctype="multipart/form-data" action="">
  {% for item in review %}
      <p><label>Rating:       
      	<!-- how to take {{item['rating']}} and preselect correctly  using checked="checked"-->  
          <label>1 <input type="radio" name="stars" value="1"></label>
          
          <label>2 <input type="radio" name="stars" value="2"></label>
          
          <label>3 <input type="radio" name="stars" value="3"></label>
          
          <label>4 <input type="radio" name="stars" value="4"></label>
          
          <label>5 <input type="radio" name="stars" value="5"></label>
      </label></p>
      
      <p><label>Comment: <textarea name="comment" rows="10" cols="30" maxlength="200">{{item['comment']}}</textarea>
      
      <p><label>Review Type:         
          <label>Pros<input type="radio" name="stars2" value="pros"></label>
          
          <label>Cons<input type="radio" name="stars2" value="cons"></label>
      </label></p>
      
      <p><label>Upload Images :
      <input type="file" name="pic" accept="image/*">
	  </label></p>
       
      <p><button type="submit">submit</button></p>
      {% endfor %}
  </form>
  {% endfor %}


    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>

{% endblock %}
