<!doctype html>

<!--
Renee Huang, Mana Muchaku, Serena Fan 
May 1st, 2018
Find your Room
index.html
-->

<html>

  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="/static/style.css">
    {% block head_stuff %} {% endblock %}
  </head>

  <body>

    <div id="navigation">
      <ul>
        <li><a href="/">Home</a>
        <li><a href="/signup/">Signup</a>
        <li><a href="/login/">Login</a>
        <li><a href="/insert/">Insert</a>
      </ul>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="messages">
      {% for msg in messages %}
      <p>{{msg}}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}


    {% block main_content %}
    <h1>{{ header }}</h1>      
    {% endblock %}

  </body>
</html>
