.login-form{
    width: 350px;
    margin: 50px auto;
}

.login-form form {
    background: #f7f7f7;
    box-shadow:0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius:5px;
    text-align:left;
}

.login-form legend, .form-button{
    text-align:center
}

.flash{
    width: 350px
}

.center-block{
    display: flex;
    justify-content: center;
    margin-top:15px
}

.search-btn{
 box-shadow:0px 0px 0px 1px rgba(255,255,255, 0.9);
 border-radius:5px;
} 

.formsection{
    padding: 12px 20px;
    display:inline-block
}

.card, .card form{
min-width:100%;
}


.tab-content {
    border-left: 1px solid #EB6864;
    border-right: 1px solid #EB6864;
    border-bottom: 1px solid #EB6864;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.nav-item{
    border-top: 1px solid #EB6864;
    border-left: 1px solid #EB6864;
    border-right: 1px solid #EB6864;
    padding: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius:25px;
}

.home{
    display:flex;
    flex-direction:column;
}
.search{
 min-width: 50rem;   
}
